paper/*.aux
paper/*.log
paper/*.gz
paper/*.out
paper/*.bib
paper/*.pdf

.DS_Store

hash_sets/
hashcat/
klima_attack/.vagrant/
*.pem
scp.sh
ssh.sh
weakness_detection/src/.idea
weakness_detection/src/build/
